@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Inter:wght@100;200;300;400;500;600&display=swap');


.loading.cover-content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.loading.cover-page {
  position: fixed;
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}
.loading .ant-spin {
  color: #3e79f7;
}

body{
  font-family: 'Inter'
}

.ant-input-affix-wrapper  {
  padding: 8px 78px 8px 16px !important;
  background: #EFF0F7 !important;
}

.ant-input-affix-wrapper > input.ant-input {
  border-radius: 0px;
  background: #EFF0F7 !important;
}

 .nav-right {
  margin-left: auto;
  padding: 0 1rem;
  display: flex;
}


.ant-menu-item-group-title{
  display: none;
}

.app-content{
  background: #F7F7FC;
}

.footer{
  background: #F7F7FC;
  border-top:none!important;
}


.dash-heading{
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 48px;
letter-spacing: -0.02em;
color: #4E4B66;
}

.t-rev{
 font-weight: 600;
font-size: 13px;
padding-top: 15px;
}

.rev-amount{
  color: #14142B;
   font-size: 40px;
}

.rev-green{
  color: #00BA88;
}

.rev-normal{
color: grey;
font-size:13px;
}


.Card-border{
  border-right: 1px solid #F7F7FC;
}

.p-left{
  padding-left: 5%;
}

.p-left2{
  padding-left: 2%;

}

.rev-red{
  color:  #F2190D;
}
 
 .side-card .ant-card-head-title{
font-size: 17px;
border-bottom: 1px solid #F7F7FC;;
} 


.gold-color{
color:  #FFDF00;
}

.top-rated-color1{
  color: #14142B;
}

.top-rated-color2{
  color: #084A9B;
}

.personal-message .ant-card-body{
  padding-bottom: 7%;
    padding-left: 10%;
}

.p-message{
  color:#A0A3BD;
  font-size: 13px;
  font-family: 'Inter'
}




