@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Inter:wght@100;200;300;400;500;600&display=swap');


.loading.cover-content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.loading.cover-page {
  position: fixed;
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}
.loading .ant-spin {
  color: #3e79f7;
}

.blue-color{
  background: #3e79f7;
}

body{
  font-family: 'Inter' !important;
}

.ant-input-affix-wrapper  {
  padding: 8px 78px 8px 16px !important;
  background: #EFF0F7 !important;
}

.ant-input-affix-wrapper > input.ant-input {
  border-radius: 0px;
  background: #EFF0F7 !important;
}

 .nav-right {
  margin-left: auto;
  padding: 0 1rem;
  display: flex;
}


.ant-menu-item-group-title{
  display: none;
}

.app-content{
  background: #F7F7FC;
}

.footer{
  background: #F7F7FC;
  border-top:none!important;
}


.dash-heading{
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 48px;
letter-spacing: -0.02em;
color: #4E4B66;
}

.t-rev{
 font-weight: 600;
font-size: 13px;
padding-top: 15px;
}

.rev-amount{
  color: #14142B;
   font-size: 40px;
}

.rev-green{
  color: #00BA88;
}

.rev-normal{
color: grey;
font-size:13px;
}


.Card-border{
  border-right: 1px solid #F7F7FC;
}

.p-left{
  padding-left: 5%;
}

.p-left2{
  padding-left: 2%;

}

.rev-red{
  color:  #F2190D !important;
}
 
 .side-card .ant-card-head-title{
font-size: 17px;
border-bottom: 1px solid #F7F7FC;;
} 


.gold-color{
color:  #FFDF00 !important;
}

.top-rated-color1{
  color: #14142B;
}

.top-rated-color2{
  color: #084A9B;
}

.personal-message .ant-card-body{
  padding-bottom: 7%;
    padding-left: 10%;
}

.p-message{
  color:#A0A3BD;
  font-size: 13px;
  font-family: 'Inter'
}

.app-page-header{
  display: none !important;
}

.ant-card.ant-card-bordered.overview-card1{
  background: rgba(181, 228, 202, 0.25);
}

.ant-card.ant-card-bordered.overview-card2{
  background: rgba(177, 229, 252, 0.25);
}

.ant-card.ant-card-bordered.overview-card3{
  background: rgba(202, 189, 255, 0.25);
}


.minus5{
  margin-bottom: -5%;
}

.minus13{
  margin-bottom: -13%;

}

.profile-heading{
  color: #4E4B66;
  font-size: 16px;
  font-weight: 200;
}

.profileCard{
  background: #084A9B !important;
  position: relative;
}

.proileName{
  font-weight: 600;
  font-size: 20px;
  color: #FEFEFE;
}

.proileWork{
  font-weight: 400;
  font-size: 14px;
  color: #FEFEFE;
}

.profilePic{
  position: absolute;
  bottom: 15px;
}

.profileOverviewText{
  color: #3F91F5;
  font-size: 25px;
}

.profileOverviewText1{
  color: #F4BF6F;  
  font-size: 25px;
}

.PostponedSessions{
  font-weight: 600;
font-size: 10px;
color: #6E7191;
}

.IncomeText{
color: #14142B;
font-weight: 600;
font-size: 20px;
}

.incomePercent{
  color: #00BA88;
  background: #EAFAE5;
  border-radius: 4px;
}

.sessionBooked{
  color: #3F91F5;
  font-size: 12px;
}

.sessionTime{
  font-weight: 400;
font-size: 12px;
}

.textEnd{
  text-align: end;
}

.border1{
  border: 1px solid #D9DBE9;
}

.buttonReject{
  border-color: #F2190D !important;
   color: #F2190D !important;
}

.buttonAccept{
  background: #00BA88 !important;
  color: #ffff !important;
}

.booking{
  text-align: center;
  padding-top: 10%;
   padding-bottom: 10%;
}

.usersTextBackground{
  background: #FCFCFC;
}

.earning-green{
  color: #83BF6E;
}

.message-list:hover{
  background: #EFF0F7;
border-radius: 12px;
}


.messageList {
  color: #4E4B66;
  font-size: 12px;
}

.chat-header{
  background: #EFF0F7;
  padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 15px;
    border-radius: 12px 12px 0px 0px;
}


.t-center{
  text-align: center;
}

/* .ant-tabs-nav{

  display: none !important;
} */

.switchTabs{
  padding-top: 4px;
  background: #EFF0F7;
  padding-bottom: 3px;
  border-radius: 40px;
  padding-left: 3px;
}

.b-therapy{
  background: #FEFEFE;
  border: #FEFEFE;
  box-shadow: 0px 4px 8px -4px rgb(0 0 0 / 25%), inset 0px -1px 1px rgb(0 0 0 / 4%), inset 0px 2px 0px rgb(255 255 255 / 25%);
  border-radius: 32px;
  padding: 4px 16px 4px 8px;
}

.b-users{
  background: #EFF0F7;
  border-radius: 40px;
  border: #EFF0F7;
  padding: 4px 36px 4px 58px;
}


.login-page {
  padding-top: 8%;
  display: grid;
  place-items: center;
}

.welcome-back{
  color: #14142B;
  font-weight: 700;
font-size: 32px;
text-align: center;

}

.emailPassword{
  font-weight: 400;
font-size: 12px;
text-align: center;
}

.centered{
  margin: 0 auto;
  padding-top: 5%;
}

.centered1{
  margin: 0 auto;
  padding-top: 2%;
}



.login-password{
  background-color: #fff !important;
}

.forgot-password{
  color: #3F91F5;
}

.login-password.ant-input-affix-wrapper > input.ant-input {
  border-radius: 0px;
  background: #ffff !important;
}

span.ant-input-affix-wrapper.login-password {
  background-color: #084A9B;
  padding-right: 8px !important;

}

/* .t-hidden{
  display: none;
} */

@media (max-width:600px)  {
  .d-none1{
    display: none;
  }
  .textEnd{
    text-align:center;
  }
 }

